.post {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin-left: 25%;
}

.post > div {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h1 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
}
